ROBOT_WORKFLOW=text_hybrid
ROBOT_DRY_RUN=1
ROBOT_AUDIO_HARDWARE_PROFILE=i2s_inmp441_max98357
ROBOT_AUDIO_INPUT_DEVICE=default
ROBOT_AUDIO_OUTPUT_DEVICE=default
ROBOT_AUDIO_CDC_PORT=/dev/ttyACM0
ROBOT_AUDIO_CDC_BAUDRATE=921600
ROBOT_UART_PORT=/dev/ttyUSB0
ROBOT_UART_BAUDRATE=115200
ROBOT_DEFAULT_SPEED=120
ROBOT_DEFAULT_MOVE_TIME_MS=1000
DEEPGRAM_LANGUAGE=en-US
DEEPGRAM_API_KEY=
